.certifications {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Asterisk border for header */
.cert-title {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  padding: 1%;
}

.cert-list {
  margin-top: 5%;
  background-color: black;
  list-style: none;
  padding: 0;
}

.cert-list li {
  cursor: pointer;
  padding: 10px;
  margin:5px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.cert-list li.selected {
  background-color: #a020f0;
}

/* Open button */
.open-button {
  background-color: white;
  color: black;
  font-family: 'appfont', monospace;
  font-size: 8px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid white;

}

.open-button:hover {
  background-color: #a020f0;
  color: white;
}

/* Certification Image */
.cert-image-container {
  margin-top: 20px;
  border: 2px solid white;
  padding: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
}

.cert-image-container img {
  width: 100%;
  height: auto;
}
