<div class="cert-title">********* Certifications *********</div>
<div class="certifications">
    <ul class="cert-list" tabindex="0" (keydown)="handleKeyPress($event)">
        <li *ngFor="let cert of certifications; let i = index"
            [class.selected]="i === selectedIndex"
            (click)="selectCert(cert, i)"
            tabindex="0">
            {{ cert.name }}
            <button class="open-button" (click)="openLink(cert.link, $event)">Open</button>
        </li>
    </ul>

    <div class="cert-image-container">
        <img *ngIf="selectedCert.image" [src]="selectedCert.image" alt="Certification Badge">
    </div>
</div>
