<div class="screen">

  <h1 class="bio-title">******* Biography *******</h1>
    <div class="bio-container">
      
      <div class="bio-box">
        <p>
          Hey! I'm a software engineer who loves solving complex problems and building things that actually make a difference.<br><br> I’ve worked across the stack—from designing fast, responsive frontends to building powerful backends and setting up data pipelines that keep everything running smoothly.
          <br><br>
  I spend most of my time working with languages like Java, Python, and Go, and I enjoy playing around with frameworks like Angular, Flutter, and React.<br><br> I've also gotten my hands dirty with cloud services, Docker, Kafka, and even some machine learning projects here and there.
  <br><br>
  What gets me excited? Clean code, systems that scale, and learning something new every day. Outside of coding, I’m probably tweaking a side project or exploring the next cool tech out there.
        </p>
      </div>
  </div>
  </div>
