<div class="screen">

    <h2 class="title">Biography</h2>
    <div class="message-box">
      
      <p>
        Hey! I'm a software engineer who loves solving complex problems and building things that actually make a difference. I’ve worked across the stack—from designing fast, responsive frontends to building powerful backends and setting up data pipelines that keep everything running smoothly.

I spend most of my time working with languages like Java, Python, and Go, and I enjoy playing around with frameworks like Angular, Flutter, and React. I've also gotten my hands dirty with cloud services, Docker, Kafka, and even some machine learning projects here and there.

What gets me excited? Clean code, systems that scale, and learning something new every day. Outside of coding, I’m probably tweaking a side project or exploring the next cool tech out there.
      </p>
    </div>
  </div>
