.screen {
  background-color: black;
  color: #ffffff; /* Signature purple font */

  display: flex;

  height: 100vh;
}
  
.retro-window {
  border: 5px double #a020f0; /* Double-line border */
  padding: 20px;
  text-align: center;
  font-size: 24px;
}
  
.bio-container {
 
  margin-top: 20px;
  text-align: left;
}

.bio-title {

    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1%;
  }


.bio-box {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px;
  margin-top: 5px;
  border: 2px solid white;

  width: 75%;
}